.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.4rem 3.6rem;
  width: 100%;
}
form label {
  font-weight: bold;
  font-size: 2rem;
}
form input {
  /* font-family: inherit;
  font-size: inherit; */
  padding: 0.25rem;
  font-size: 1.6rem;
  margin-top: -1rem;
  border: 1px solid #777;
}
.actions {
  text-align: right;
}
.actions button {
  background-color: transparent;
  border: 1px solid #333;
  padding: 1rem 1.5rem;
  border-radius: 50px;
  margin-left: 2rem;
  font-size: 1.6rem;
  font-weight: bold;
}
.order {
  background-color: red !important;
  border: 1px solid red !important;
  color: #fff;
}

.order:hover,
.order:active {
  border: 1px solid #000;
  background-color: #fce9a7;
}
.close:hover,
.close:active {
  border: 1px solid red;
  background-color: #ff3333;
  color: #fff;
}

.amount {
  font-weight: bold;
  font-size: 2.4rem;
  color: #000;
}
.amountAction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
