.button {
  display: inline-block;
  background-color: #000;
  color: #ddd;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 2.4rem;
  border: none;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}
.button:hover {
  background-color: #191610;
  transform: translateY(-3px);
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
}
.cart {
  background-color: #f8c822;
  border-radius: 50px;
  padding: 0.5rem;
}
